@keyframes slideToRight {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideToLeft {
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideToBottom {
    0%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideToTop {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes Scale {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}